<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoveYourSelfie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31A497051C78CE0A00358087</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C1DA50B1CAADE2E00A2FD5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C1DA5191CAADE3500A2FD5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
